<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="myName" value="Murad" />
	<test thread-count="5" name="testing.xml">
		<classes>
			<class name="TestNG_Parameters.ParameterizedTest">
				<methods>
					<include name="parameterTest"></include>
				</methods>
			</class>
		</classes>
	</test> <!--testing.xml -->
</suite> <!--Suite -->
